body{
	height: 100%;
	width: 100%;
	top: 0;
	background-color: #824e29;
	margin: 0;
	}
	
.content{
	background-color:#603716 ;
	height: 92%;
	width: 92%;
    top: 4%;
    left: 4%;
    position: absolute;
    border-radius: 25px;

	
}

.text{
	text-align: center;
	font-size: 6vw;
	font-family: Arial;
	font-weight: bold;
    margin: 0;
    color: black;
	
}

a{ 
text-decoration:none; 
} 

.button{
    background-color: coral;
    border: none;
    display: inline-block;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
    width: 40%;
    height: 20%;
    left: 30%;
    top: 40%;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


@media screen and (max-width: 800px) {


	.content{
		height: 93%;
		width: 93%;
		top: 3%;
		left: 3%;
	}

	.text{
		font-size: 10vw;
		margin: 7%;
	}

}